<ion-view view-title="急救">
  <ion-content>
    <div style="padding: 10%">
      <div class="row">
        <div class="col">

          <img on-tap="show('message')" src="img/ionic.png">
          <p>新闻</p>
          <!--<a class="button button-clear icon ion-ios-arrow-right"></a>-->

        </div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
      </div>
      <div class="row">
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
        <div class="col"><img src="img/ionic.png"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
